#root {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




.car-color-price {
  position: absolute;
  top: 10%;
  width: 100%;
  transition: transform 0.5s;
}

.border-drawing {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 100px; /* Adjust the height of the line */
  background-color: white;
  animation: draw-line 1s ease forwards;
  opacity: 0;
}

/* Animation to draw the border */
@keyframes draw-line {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 70vh; /* Match the height set above */
    opacity: 1;
  }
}
